<!DOCTYPE html>
<html lang="en">
<head>
    <!--<script src="/socket.io/socket.io.js"></script>-->
    <!--<meta http-equiv="Access-Control-Allow-Origin" content="*">-->
    <!--<header name = "Access-Control-Allow-Origin" value = "*" />-->
    <!--<meta http-equiv="Access-Control-Allow-Origin" content="*">-->
    <meta charset="UTF-8">
    <title></title>
</head>
<body id="body">
<div id="sql_queries_PageContent" style="width:100%;height:100%;">
    <div id="sql_queries_TopContent" style="width:100%; margin:0;padding:0; display: inline-block ">
        <div style="color:dimgrey;text-align:center; font-weight:bold; padding: 5px; background-color: #e7e7e7; border-bottom: solid 1px #b7bec9; ">Обмен с кассовыми аппаратами </div>
        <table width="100%" style="margin-top:5px; margin-bottom: 5px" >
            <!--<tr><th>Обмен с кассавыми аппаратами</th></tr>-->
            <tr>
                <td>
                    Начальна дата: <input type="date" id ="bdate">
                </td>
                <td>
                    Конечная дата: <input type="date" id ="edate">
                </td>
                <td width="40px;">
                    <button id="import_sales_btn">Import sales</button>
                </td>
                <td width="40px;">
                    <button id="import_sales_cleanBtn">Clean up</button>
                </td>
                <td width="440px;"></td>
            </tr>
        </table>
    </div>
    <div id="sql_queries_LeftContent" style="width:200px;height:100%; margin:0;padding:0; ">
        <div id="sql_buttons_header" style="height:15px; color: dimgray; font-weight: bold; text-align: center; padding-bottom: 5px; padding-top: 5px; border-bottom: solid 1px #b7bec9; background-color: #e7e7e7">Кассовые аппараты</div>
        <table align="center" width="100%" style="margin-top: 10px">
            <!--<tr><th style="height:15px;color: dimgray; padding-bottom: 5px; padding-top: 5px; border-bottom: solid 1px #b7bec9;">Кассовые аппараты</th></tr>-->
            <tr><td id="cash_boxes_buttons">
            </td></tr>
        </table>
    </div>
    <div id="sql_queries_DetailContent" style="width:100%;height:100%; margin:0;padding:0; overflow: hidden">
        <div id="sql_display_content_header" style="height:15px; color: dimgray;font-weight: bold; text-align: center; padding-bottom: 5px; padding-top: 5px; border-bottom: solid 1px #b7bec9; background-color: #e7e7e7">Результат обработки</div>
        <div id="sql_display_content" style="border:none;/*width:100%*/;height: calc(100% - 42px); overflow-y: scroll"></div>
        <!--<table width='100%' height='100%'>-->
        <!--<table align="center" width="100%">-->
            <!--<tr><th style="color: dimgray; padding-bottom: 5px; padding-top: 5px; border-bottom: solid 1px #b7bec9; ">Результат обработки</th></tr>-->
            <!--<tr>-->
                <!--<td style="padding-top:3px;padding-left:2px;padding-right:6px;">-->
                    <!--&lt;!&ndash;<textarea id="sql_display_content" style="border:none;width:100%;height:100%;"></textarea>&ndash;&gt;-->
                    <!--<div id="sql_display_content" style="border:none;width:100%;height:100%; overflow-y: scroll"></div>-->
                <!--</td>-->
            <!--</tr>-->
        <!--</table>-->
    </div>
    <div id="sql_queries_RightContent" style="width:500px;height:100%; margin:0;padding:0;">
        <div id="display_result">
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    require(["app", "dijit/layout/BorderContainer", "dijit/layout/LayoutContainer", "dijit/layout/ContentPane", "dojo/data/ItemFileReadStore",
                "dijit/form/TextBox", "dijit/form/DateTextBox", "dijit/form/Button", "dijit/ConfirmDialog","dijit/form/ToggleButton",
                "dijit/form/DateTextBox","request"],
            function (APP, BorderContainer, LayoutContainer, ContentPane, ItemFileReadStore, TextBox, DateTextBox, Button, ConfirmDialog,
                      ToggleButton,DateTextBox,Request) {
                moment.locale("uk");
               // document.getElementById("sql_display_content").innerText="";
               // var socketDisplay=document.getElementById("sql_display_content");
               //socketDisplay.innerText="";
               // var socketText=socketDisplay.innerText;

                var socket = io.connect(/*'http://localhost:8080'*/);
//                socket.on('news', function (data) {
//                    console.log(data);
//                    socket.emit('my other event', { my: 'data' });
//                });

                socket.on('ask_for_data', function () {
                    document.getElementById("sql_display_content").innerText=
                           /* document.getElementById("sql_display_content").innerText+*/"* Отправка запроса кассовому аппарату\n";
                    //socket.emit('my other event', { my: 'data' });
                });

                socket.on('xml_received', function () {
                    document.getElementById("sql_display_content").innerText=
                            document.getElementById("sql_display_content").innerText+"* Получены данные от кассового аппарата\n";
                //   socket.emit('my other event', { my: 'data' });
                });

                socket.on('xml_to_json', function(){
                    document.getElementById("sql_display_content").innerText=
                            document.getElementById("sql_display_content").innerText+"* Данные форматирутся\n";
                });
                //io.emit('cash_box_id', cashBoxID);
                socket.on('cash_box_id', function(data){
                    document.getElementById("sql_display_content").innerText=
                            document.getElementById("sql_display_content").innerText+ "* Касcовый аппарат №"+data+"\n";
                });
                socket.on('json_ready', function(data){
                    document.getElementById("sql_display_content").innerText=
                            document.getElementById("sql_display_content").innerText+ "* Чек №"+data.checkNumber+ " от "+data.checkDate+"\n";
                });
                socket.on('data_processed_suc', function(){
                    document.getElementById("sql_display_content").innerText=
                            document.getElementById("sql_display_content").innerText+"* Данные успешно обработаны\n";
                });
                socket.on('response_error', function(data){
                    document.getElementById("sql_display_content").innerText=
                            document.getElementById("sql_display_content").innerText+ "* Шлюз вернул ошибку"+data.error+"\n";
                });

                var borderContainer = APP.initElem("sql_queries_PageContent", BorderContainer, {});
                var topContentSQL = APP.initElem("sql_queries_TopContent", ContentPane, {region: "top"});
                var leftContentImportSales = APP.initElem("sql_queries_LeftContent", ContentPane, {region: "left", style:"text-align:center"});
                var detailContentImportSales = APP.initElem("sql_queries_DetailContent", ContentPane, {region: "center"});
                var rightContentImportSales = APP.initElem("sql_queries_RightContent", ContentPane, {region: "right",splitter: true});
                var sql_display_content= APP.initElem("sql_display_content", ContentPane, {region: "right",splitter: true});
                var sql_display_content_header=APP.initElem("sql_display_content", ContentPane, {region: "right",splitter: true});
                sql_display_content.startup();
                sql_display_content_header.startup();


                var bDateTextBox= new DateTextBox({value:new Date(2017, 3, 13),lang:"ru-ua"},"bdate");
               // console.log("bDateTextBox.value=",bDateTextBox.get("value"));
                var eDateTextBox= new DateTextBox({value:new Date(2017, 3, 27),lang:"ru-ua"},"edate");
                var cash_boxes_buttons=document.getElementById('cash_boxes_buttons');
                var btnImportSales = APP.initElem("import_sales_btn", Button, {});
                var btnSendImportSales = APP.initElem("import_sales_sendBtn", Button, {});
                //import_sales_cleanBtn
                var btnCleanUp=APP.initElem("import_sales_cleanBtn", Button, {});
                var displayXMLResult = document.getElementById("display_result");

                detailContentImportSales.getAllCashBoxes=function() {

                    Request.getJSONData({url: "/sysadmin/import_sales/get_all_cashboxes", consoleLog: true},
                            function (success, result) {                            console.log("result get all cachboxes", result);
                                if (!success) {
                                    alert("No connection to the server!");
                                      return;
                                }
                                if (result.error) {
                                    alert("Cannot get configuration parameters! Reason:"+result.error);
                                     return;
                                }
                                detailContentImportSales.setToggleCashBoxID(result.items);
                            });
                };
                detailContentImportSales.getAllCashBoxes();

                detailContentImportSales.setToggleCashBoxID=function(data){
                    for(var i in data){
                        var toggleBtn=new ToggleButton({iconClass:'dijitCheckBoxIcon',checked:true,label:"Касса ID "+data[i].FacID, crid:data[i].CRID});//
                        toggleBtn.domNode.firstChild.setAttribute("style", "width:150px;");
                        toggleBtn.startup();
                        cash_boxes_buttons.appendChild(toggleBtn.domNode);
                        leftContentImportSales.startup();
                    }
                };

                btnImportSales.onClick=function(){
                    var bdate; var edate;
                    var bdateValue=bDateTextBox.get("value");
                    bdate= moment(bdateValue).format('YYYYMMDD')+"0000";                                //console.log("bdate=" , bdate);
                    var edateValue=eDateTextBox.get("value");
                    edate= moment(edateValue).format('YYYYMMDD')+"2359";                                //console.log("edate=" , edate);

                    var cashBoxesList=leftContentImportSales.getChildren();
                    var cashbox_params;
                    for (var i in cashBoxesList) {
                        if(cashBoxesList[i].checked==true){
                            var cashbox_condition = "cashbox_" + i + "crid=" + cashBoxesList[i].crid;
                            cashbox_params = (cashbox_params == null) ? cashbox_condition : cashbox_params + "&" + cashbox_condition;
                        }
                    }
                                                                                                         // console.log("bdate 164=" , bdate, "&edate=" ,bdate, "cashbox_params=",cashbox_params );

                    Request.getJSONData({url: "/sysadmin/import_sales/get_sales",
                                condition: "bdate=" + bdate+ "&edate=" + edate + "&" + cashbox_params ,     ///// date !!!!!
                                consoleLog: true},
                            function (success, result) {                                                         console.log("result166", result);
                                if (!success) {
                                    alert("No connection to the server!");
                                    return;
                                }
                                if (result.error) {
                                   // alert("Cannot get configuration parameters! Reason:"+result.error);
                                    console.log("Error:" + JSON.stringify(result.error));
                                    return;
                                }

//                                var xmlText="";
//                                for(var i in result.items ) {
//                                    var xmlLine=result.items[i].XMLText;
//                                    displayXMLResult.innerHTML=rightContentImportSales.innerHTML+xmlLine;
//                                   xmlText=xmlText+xmlLine;
//                                }                                                                  //  console.log("xmlText=",xmlText);
//                                displayXMLResult.innerText=xmlText;
                            });
                    };

//                btnSendImportSales.onClick = function () {
//                    var  XMLText=document.getElementById("display_result").innerText;     console.log("XMLText=",XMLText);
//                    Request.postJSONData({
//                                url: "/sysadmin/get_xml_sales",
//                              //  condition: condition,
//                                data: {XMLText: XMLText}, consoleLog: true
//                            },
//                            function (success, data) {
//                                if (!success) {
//                                 //   displayQueryResultSQl.innerHTML = "<div><b style='color:red'>Error in request</b></div>";
//                                    return;
//                                }
//                                if (data.error){
//
//                                }
//                                  //  displayQueryResultSQl.innerHTML = "<div><b style='color:red'>" + data.error + "</b></div>";
//                                else
//                                   // displayQueryResultSQl.innerHTML = JSON.stringify(data.result);
//                                console.log(data);
//                            });
//                    };

                btnCleanUp.onClick = function () {
                    document.getElementById("sql_display_content").innerText="";
                };
            });
</script>
</html>